/* 成员页面样式 */
.team-member {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #e6e6f0;
  border-radius: 8px;
}

.team-member h3 {
  color: #2f2a5e;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 3em;
  color: #2980b9;
  margin-bottom: 20px;
}

.professor {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 12px rgba(0, 0, 0, 0.1);
}

.professor-image p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #2c3e50;
  font-weight: bold;
}

.professor-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  width: 40%;
  height: 100%;
}

.professor img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}

.professor-info {
  max-width: 600px;
}

.professor-info h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #2c3e50;
}

.professor-info h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #2c3e50;
}

.professor-info ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 15px 0;
  text-align: center;
}

.contact-info p {
  margin: 3px 0;
}

/* 博士后大卡片容器 */
.fellows {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 内部人员排列容器 */
.fellows-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 20px;
}

/* 单个博士后条目 */
.fellow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.fellow img {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.fellow p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  color: #2c3e50;
  /* font-weight: bold; */
}

/* 标题样式 */
.fellows h3 {
  color: #2980b9;
  font-size: 1.8em;
  border-bottom: 2px solid #e6e6f0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
}
